/*стили для логотипа*/

html {
   background-image: url("/static/images/back/background.jpg");
}

.logo {
   max-width: 100px;
   max-height: 5%;
}

.navbar {
   opacity: 0.99;
}

.classbutton {
   margin-right: 5px;
   border: solid #345d32;
   border-radius: 10px;
   text-align: center;
   text-size-adjust: 100px;
}

/*стили для dropdown*/
/*для компов*/
@media all and (min-width: 992px) {
   .dropdown-menu li {
      position: relative;
   }

   .nav-item .submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
   }

   .nav-item .submenu-left {
      right: 100%;
      left: auto;
   }

   .dropdown-menu>li:hover {
      background-color: #f1f1f1
   }

   .dropdown-menu>li:hover>.submenu {
      display: block;
   }
   #clock {
      font-size: 26px;
      text-align: center;
   }
}

/*Для мобилок */
@media (max-width: 991px) {
   .dropdown-menu .dropdown-menu {
      margin-left: 0.7rem;
      margin-right: 0.7rem;
      margin-bottom: .5rem;
   }
   .classbutton {
      margin-bottom: 3px;
   }
   #clock {
   font-size: 16px;
   text-align: center;
   }
}


.carousel {
   width: 63.6%;
   margin-left: 15.9%;
}