#pills-tab{
	padding-top: 10px;
	max-width: 30%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #345d32!important;
}
.nav-link {
	color: black!important;
}
table {
	max-width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}
#time {
	width: 10%;
}