/*Разметка кнопок*/
#pills-tab{
	padding-top: 10px;
	max-width: 30%;
	margin-left: 2%;
}
/*Цвет фона кнопок вкладок*/
.nav-pills .nav-link.active, .nav-pills .show.nav-link {
	background-color: #345d32!important;

}
/*Стиль цвета текста неактивных кнопок вкладок*/
.nav-link {
	color: black!important;
}
/*Стили для таблицы*/
table {
	max-width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}
/*Стиль первого столбца таблицы*/
#time {
	width: 10%;
}