<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	{% block local_data %}
	{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid ">
			<img src="https://education.nsu.ru/letka/images/tild3438-3932-4535-b763-356533303566__photo.png" alt="logo" class="lgbt">

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							9 класс						
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="list">
							<li><a class="dropdown-item" href="#">9-1</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">200</a>
									<a class="dropdown-item" href="#">201</a>
									<a class="dropdown-item" href="#">202</a>
								</div>
							</li>
							<li><a class="dropdown-item" href="#">9-2</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">203</a>
									<a class="dropdown-item" href="#">204</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							10 класс						
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">10-1</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">101</a>
									<a class="dropdown-item" href="#">102</a>
								</div>
							</li>
							<li><a class="dropdown-item" href="#">10-2</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">103</a>
									<a class="dropdown-item" href="#">104</a>
								</div></li>
								<li><a class="dropdown-item" href="#">10-3</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">205</a>
										<a class="dropdown-item" href="#">206</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">10-4</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">207</a>
										<a class="dropdown-item" href="#">208</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">10-5</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">209</a>
										<a class="dropdown-item" href="#">210</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">10-6</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">211</a>
										<a class="dropdown-item" href="#">212</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">10-7</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">213</a>
										<a class="dropdown-item" href="#">214</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">10-8</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">215</a>
										<a class="dropdown-item" href="#">216</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								11 класс
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">11-1</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">001</a>
										<a class="dropdown-item" href="#">002</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-2</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">003</a>
										<a class="dropdown-item" href="#">004</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-3</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">005</a>
										<a class="dropdown-item" href="#">006</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-4</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">105</a>
										<a class="dropdown-item" href="#">106</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-5</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">107</a>
										<a class="dropdown-item" href="#">108</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-6</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">109</a>
										<a class="dropdown-item" href="#">110</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-7</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">111</a>
										<a class="dropdown-item" href="#">112</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-8</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">113</a>
										<a class="dropdown-item" href="#">114</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-9</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">115</a>
										<a class="dropdown-item" href="#">116</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-10</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">217</a>
										<a class="dropdown-item" href="#">218</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-11</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">219</a>
										<a class="dropdown-item" href="#">220</a>
									</div>
								</li>
								<li><a class="dropdown-item" href="#">11-12</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">221</a>
										<a class="dropdown-item" href="#">222</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">СПЕЦ-КУРСЫ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Расисание физкультуры + ОБЖ</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</head>
	<body>
		<div>

			{% block table %}

			{% endblock %}
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	</body>
	</html>