<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<title>Расписание | СУНЦ НГУ</title>
	<!--Таблица-->
	{% block local_data %}
	{% endblock %}
	<!-- Подключение css, bootstrap, javascript, JQuerry -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.socket.io/4.4.1/socket.io.min.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js">
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<!-- Навигационная понель -->
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<!-- Логотип -->
			<a class="navbar-brand" href="/">
				<img src="https://education.nsu.ru/letka/images/tild3438-3932-4535-b763-356533303566__photo.png"
					alt="logo" class="logo">
			</a>
			<!-- Кнопка "3 полоски" -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Переключатель навигации" id="myhelp">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- кнопки навигационной панели -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" id="Navelements">
					<!-- dropdown для 9 класса -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle classbutton" href="#" id="navbarDropdown"
							data-bs-toggle="dropdown">
							9 класс
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">9-1</a>
								<ul class="dropdown-menu submenu" id="9_1">
									<li><a class="dropdown-item get-class" href="#" id="all_class:9_1">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="9_1:200">200 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="9_1:201">201 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="9_1:202">202 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">9-2</a>
								<ul class="dropdown-menu submenu" id="9_2">
									<li><a class="dropdown-item get-class" href="#" id="all_class:9_2">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="9_2:203">203 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="9_2:204">204 группа</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<!-- dropdown для 10 классов -->
						<a class="nav-link dropdown-toggle classbutton" href="#" id="navbarDropdown1"
							data-bs-toggle="dropdown">
							10 класс
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
							<li><a class="dropdown-item" href="#">10-1</a>
								<ul class="dropdown-menu submenu" id="10_1">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_1">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_1:101">101 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_1:102">102 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-2</a>
								<ul class="dropdown-menu submenu" id="10_2">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_2">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_2:103">103 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_2:104">104 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-3 </a>
								<ul class="dropdown-menu submenu" id="10_3">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_3">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_3:205">205 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_3:206">206 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-4</a>
								<ul class="dropdown-menu submenu" id="10_4">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_4">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_4:207">207 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_4:208">208 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-5</a>
								<ul class="dropdown-menu submenu" id="10_5">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_5">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_5:209">209 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_5:210">210 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-6</a>
								<ul class="dropdown-menu submenu" id="10_6">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_6">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_6:211">211 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_6:212">212 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-7</a>
								<ul class="dropdown-menu submenu" id="10_7">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_7">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_7:213">213 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_7:214">214 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">10-8</a>
								<ul class="dropdown-menu submenu" id="10_8">
									<li><a class="dropdown-item get-class" href="#" id="all_class:10_8">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="10_8:215">215 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="10_8:216">216 группа</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<!-- dropdown для 11 классов -->
						<a class="nav-link dropdown-toggle classbutton" href="#" id="navbarDropdown2"
							data-bs-toggle="dropdown">
							11 класс
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
							<li><a class="dropdown-item" href="#">11-1</a>
								<ul class="dropdown-menu submenu" id="11_1">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_1">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_1:001">001 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_1:002">002 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-2</a>
								<ul class="dropdown-menu submenu" id="11_2">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_2">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_2:003">003 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_2:004">004 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-3</a>
								<ul class="dropdown-menu submenu" id="11_3">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_3">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_3:005">005 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_3:006">006 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-4</a>
								<ul class="dropdown-menu submenu" id="11_4">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_4">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_4:105">105 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_4:106">106 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-5</a>
								<ul class="dropdown-menu submenu" id="11_5">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_5">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_5:107">107 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_5:108">108 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-6</a>
								<ul class="dropdown-menu submenu" id="11_6">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_6">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_6:109">109 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_6:110">110 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-7</a>
								<ul class="dropdown-menu submenu" id="11_7">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_7">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_7:111">111 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_7:112">112 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-8</a>
								<ul class="dropdown-menu submenu" id="11_8">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_8">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_8:113">113 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_8:114">114 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-9</a>
								<ul class="dropdown-menu submenu" id="11_9">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_9">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_9:115">115 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_9:116">116 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-10</a>
								<ul class="dropdown-menu submenu" id="11_10">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_10">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_10:217">217 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_10:218">218 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-11</a>
								<ul class="dropdown-menu submenu" id="11_11">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_11">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_11:219">219 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_11:220">220 группа</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="#">11-12</a>
								<ul class="dropdown-menu submenu" id="11_12">
									<li><a class="dropdown-item get-class" href="#" id="all_class:11_12">Весь класс</a>
									</li>
									<li><a class="dropdown-item get-table" href="#" id="11_12:221">221 группа</a></li>
									<li><a class="dropdown-item get-table" href="#" id="11_12:222">222 группа</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<!-- кнопка спецкурсов -->
						<a class="nav-link dropdown-toggle classbutton" href="#" id="navbarDropdown4"
							data-bs-toggle="dropdown">Спецкурсы</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
							<li><a class="dropdown-item get-course" href="#" id="mat">Кафедра математики</a></li>
							<li><a class="dropdown-item get-course" href="#" id="bio">Кафедра естественных наук</a></li>
							<li><a class="dropdown-item get-course" href="#" id="rus">Кафедра Русской словесности</a>
							</li>
							<li><a class="dropdown-item get-course" href="#" id="phy">Кафедра физики</a></li>
							<li><a class="dropdown-item get-course" href="#" id="hum">Кафедра гуманитарных наук</a></li>
							<li><a class="dropdown-item get-course" href="#" id="chi">Кафедра химии</a></li>
							<li><a class="dropdown-item get-course" href="#" id="inf">кафедра дискретной математики и
									информатики</a></li>
							<li><a class="dropdown-item get-course" href="#" id="eng">Межкафедральная лаб. Инж.
									конструирования</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item text-md-center text-lg-end" id="timeContainer">
						<div class="navbar-text" id="clock"></div>

					</li>
				</ul>
			</div>
		</div>
	</nav>
</head>

<body onload="timeCount();">
	<script src="{{ url_for('static', filename='js/snowfall.jquery.js') }}"></script>
	<script>
		$(document).ready(function () {
			$(document).snowfall({
				flakeCount: 100, // Количество снежинок
				flakeColor: '#ffffff', // Цвет снежинок
				flakeIndex: 999999, // z-index снежинок
				minSize: 1, // Минимальный размер снежинки
				maxSize: 2, // Максимальный размер снежинки
				minSpeed: 1, // Минимальная скорость снежинки
				maxSpeed: 5, // Максимальная скорость снежинки
				round: false, // Закруглённые снежинки (true/false)
				shadow: false, // С тенью (true/false)
				collection: false, // Накапливаются ли снизу, образуя сугробы (true/false)
				collectionHeight: 200, // Количество накапливаемого снега
				deviceorientation: true // Подстраиваться ли под устройство
			});
		});
	</script>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="warning" fill="currentColor" viewBox="0 0 16 16">
			<path
				d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
		</symbol>
	</svg>
	<div id="error-modal" class="float-end sticky-top position-absolute top-0 end-0 mt-1 me-1 h-75 w-25">
	</div>
	<div id="main-page">
		{% block table %}

		{% endblock %}
	</div>

	{% if banner_links != [] %}
	<div id="banner" class="carousel slide" data-bs-ride="carousel">
		<div class="ratio ratio-16x9 carousel-inner" id="carousel">
			{% for item in banner_links %}
			{% if loop.index0 == 0 %}
			<div class="ratio ratio-16x9 carousel-item banner-element active banner-image">
				{% else %}
				<div class="ratio ratio-16x9 carousel-item banner-element banner-image">
					{% endif %}
					<img class="ratio ratio-16x9" src="{{ url_for('static', filename=item) }}" alt="Баннер">
				</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Предыдущий</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Следующий</span>
			</button>
		</div>
	</div>
	{% endif %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

</body>

</html>