<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Расписание | СУНЦ НГУ</title>
	<!--Таблица-->
	{% block local_data %}
	{% endblock %}
	<!-- Подключение css, bootstrap, javascript, JQuerry -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.socket.io/4.4.1/socket.io.min.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<!-- Навигационная понель -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid ">
			<!-- Логотип -->
			<img src="https://education.nsu.ru/letka/images/tild3438-3932-4535-b763-356533303566__photo.png" alt="logo"
			class="lgbt">
			<!-- Кнопка "3 полоски" -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Переключатель навигации">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- кнопки навигационной панели -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<!-- dropdown для 9 класса -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle child-toggle-1" href="#" id="navbarDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					9 класс
				</a>
				<ul class="dropdown-menu child-window-menu-1" aria-labelledby="navbarDropdown" id="list">
					<li><a class="dropdown-item" href="#">9-1</a>
						<div class="dropdown-menu">
							<a class="dropdown-item get-table test" href="#" id="9-1:200">200</a>
							<a class="dropdown-item get-table" href="#" id="9-1:201">201</a>
							<a class="dropdown-item get-table" href="#" id="9-1:202">202</a>
						</div>
					</li>
					<li><a class="dropdown-item" href="#">9-2</a>
						<div class="dropdown-menu">
							<a class="dropdown-item get-table" href="#" id="9-2:203">203</a>
							<a class="dropdown-item get-table" href="#" id="9-2:204">204</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<!-- dropdown для 10 классов -->
				<a class="nav-link dropdown-toggle child-toggle-2" href="#" id="navbarDropdown1" role="button"
				data-bs-toggle="dropdown" aria-expanded="false">
				10 класс
			</a>
			<ul class="dropdown-menu child-window-menu-2" aria-labelledby="navbarDropdown1">
				<li><a class="dropdown-item" href="#">10-1</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-1:101">101</a>
						<a class="dropdown-item get-table" href="#" id="10-1:102">102</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-2</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-2:103">103</a>
						<a class="dropdown-item get-table" href="#" id="10-2:104">104</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-3</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-3:205">205</a>
						<a class="dropdown-item get-table" href="#" id="10-3:206">206</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-4</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-4:207">207</a>
						<a class="dropdown-item get-table" href="#" id="10-4:208">208</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-5</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-5:209">209</a>
						<a class="dropdown-item get-table" href="#" id="10-5:210">210</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-6</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-6:211">211</a>
						<a class="dropdown-item get-table" href="#" id="10-6:212">212</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-7</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-7:213">213</a>
						<a class="dropdown-item get-table" href="#" id="10-7:214">214</a>
					</div>
				</li>
				<li><a class="dropdown-item" href="#">10-8</a>
					<div class="dropdown-menu">
						<a class="dropdown-item get-table" href="#" id="10-8:215">215</a>
						<a class="dropdown-item get-table" href="#" id="10-8:216">216</a>
					</div>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown">
			<!-- dropdown для 11 классов -->
			<a class="nav-link dropdown-toggle child-toggle-3" href="#" id="navbarDropdown2" role="button"
			data-bs-toggle="dropdown" aria-expanded="false">
			11 класс
		</a>
		<ul class="dropdown-menu child-window-menu-3" aria-labelledby="navbarDropdown2">
			<li><a class="dropdown-item" href="#">11-1</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-1:001">001</a>
					<a class="dropdown-item get-table" href="#" id="11-1:002">002</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-2</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-2:003">003</a>
					<a class="dropdown-item get-table" href="#" id="11-2:004">004</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-3</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-3:005">005</a>
					<a class="dropdown-item get-table" href="#" id="11-3:006">006</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-4</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-4:105">105</a>
					<a class="dropdown-item get-table" href="#" id="11-4:106">106</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-5</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-5:107">107</a>
					<a class="dropdown-item get-table" href="#" id="11-5:108">108</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-6</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-6:109">109</a>
					<a class="dropdown-item get-table" href="#" id="11-6:110">110</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-7</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-7:107">107</a>
					<a class="dropdown-item get-table" href="#" id="11-7:112">112</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-8</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-8:113">113</a>
					<a class="dropdown-item get-table" href="#" id="11-8:114">114</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-9</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-9:115">115</a>
					<a class="dropdown-item get-table" href="#" id="11-9:116">116</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-10</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-10:217">217</a>
					<a class="dropdown-item get-table" href="#" id="11-10:218">218</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-11</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-11:219">219</a>
					<a class="dropdown-item get-table" href="#" id="11-11:220">220</a>
				</div>
			</li>
			<li><a class="dropdown-item" href="#">11-12</a>
				<div class="dropdown-menu">
					<a class="dropdown-item get-table" href="#" id="11-12:221">221</a>
					<a class="dropdown-item get-table" href="#" id="11-12:222">222</a>
				</div>
			</li>
		</ul>
	</li>
	<li class="nav-item">
		<!-- кнопка спецкурсов -->
		<a class="nav-link" href="#">СПЕЦ-КУРСЫ</a>
	</li>
	<!-- кнопка физ-ры и обж -->
	<li class="nav-item">
		<a class="nav-link" href="#">Расисание физкультуры + ОБЖ</a>
	</li>
</ul>
</div>
</div>
</nav>
</head>

<body>
	<div>
		<!-- адского ада шаблонизации -->
		{% block table %}

		{% endblock %}
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

</body>

</html>