{% extends "base.html" %}

{% block local_data %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" type="text/css" />

{% endblock %}

{% block table %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-Monday-tab" data-bs-toggle="pill" data-bs-target="#pills-Monday"
      type="button" role="tab" aria-controls="Monday" aria-selected="true">Пн</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-Tuesday-tab" data-bs-toggle="pill" data-bs-target="#pills-Tuesday" type="button"
      role="tab" aria-controls="week-Tuesday" aria-selected="false">Вт</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-Wednesday-tab" data-bs-toggle="pill" data-bs-target="#pills-Wednesday"
      type="button" role="tab" aria-controls="week-Wednesday" aria-selected="false">Ср</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-Thursday-tab" data-bs-toggle="pill" data-bs-target="#pills-Thursday"
      type="button" role="tab" aria-controls="week-Thursday" aria-selected="false">Чт</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-Friday-tab" data-bs-toggle="pill" data-bs-target="#pills-Friday" type="button"
      role="tab" aria-controls="week-Friday" aria-selected="false">Пт</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-Saturday-tab" data-bs-toggle="pill" data-bs-target="#pills-Saturday"
      type="button" role="tab" aria-controls="week-Saturday" aria-selected="false">Сб</button>
  </li>
</ul>
<div class="tab-content" id="weeks-tabContent">
  <div class="tab-pane fade show active" id="pills-Monday" role="tabpanel" aria-labelledby="pills-Monday-tab">Пить</div>
  <div class="tab-pane fade" id="pills-Tuesday" role="tabpanel" aria-labelledby="pill-Tuesday-tab">Курить</div>
  <div class="tab-pane fade" id="pills-Wednesday" role="tabpanel" aria-labelledby="pill-Wednesday-tab">Трахаца</div>
  <div class="tab-pane fade" id="pills-Thursday" role="tabpanel" aria-labelledby="pill-Thursday-tab">Колоца</div>
  <div class="tab-pane fade" id="pills-Friday" role="tabpanel" aria-labelledby="pill-Friday-tab">Срать</div>
  <div class="tab-pane fade" id="pills-Saturday" role="tabpanel" aria-labelledby="pill-Saturday-tab">Спать</div>
</div>
{% for element in table_data %}
{{ element.class_number }}
<h1>Группа: {{ element.group_number }}</h1>
{% endfor %}
{% endblock %}